openapi: "3.1.0"
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: ZZ Agent Platform API V2
  version: "2.0.0"
  description: |
    Project-scoped Agent Collaboration OS.

    The V1 API boundary is fixed at 25 REST operations for the core loop:
    create a project, register agents, create a shared session, send broadcast
    or targeted messages, persist append-only events, stream or replay the
    timeline, and report/read agent health.

    ## Runtime Adapter V1

    Agents are invoked through platform-driven synchronous HTTP calls to the
    registered `endpoint_url`, commonly `POST /zz/v1/invoke`. The platform uses
    the stored full URL directly.

    Required outbound headers:

    ```http
    Content-Type: application/json
    User-Agent: zhuzeyang-agent-runtime/1.0
    X-ZZ-Protocol-Version: runtime.v1
    X-ZZ-Project-Id: proj_x
    X-ZZ-Session-Id: sess_x
    X-ZZ-Agent-Id: agent_x
    X-ZZ-Run-Id: run_x
    X-ZZ-Delivery-Id: deliv_x
    X-ZZ-Attempt: 1
    X-ZZ-Timestamp: <unix_seconds>
    X-ZZ-Trace-Id: trace_x
    X-ZZ-Idempotency-Key: run_x:attempt:1
    X-ZZ-Signature: sha256=<hmac>
    ```

    Signing uses:

    ```text
    body_hash = sha256(raw_body)
    signed_payload = timestamp + "." + delivery_id + "." + body_hash
    signature = hmac_sha256(invoke_secret, signed_payload)
    ```

    V1 supports synchronous responses only. `200` with `completed` writes agent
    messages, metrics, and `agent.run.completed`; `200` with `no_reply` writes
    `agent.run.completed`; `200` with `failed` or `rejected` writes
    `agent.run.failed`. `202`, network failures, timeouts, invalid JSON, and
    schema failures are treated as failed runs.

    ## Event Log

    Events are append-only and session-scoped by monotonically increasing `seq`.
    `after_seq` query parameters are exclusive. Clients should reconnect SSE
    streams with the last received `seq`.

    ## Authentication

    All endpoints require a Bearer token unless an operation explicitly says
    otherwise. Human tokens are authorized through project RBAC. Agent service
    tokens are limited to their assigned project, sessions, runs, and own health.
  contact:
    name: ZZ Agent Team
    url: https://zhuzeyang.xyz/agent
  license:
    name: Proprietary
    url: https://zhuzeyang.xyz/agent

servers:
  - url: https://zhuzeyang.xyz/agent
    description: Production
  - url: http://127.0.0.1:8000
    description: Local development

tags:
  - name: Auth
    description: API key exchange and current principal lookup.
  - name: Projects
    description: Project workspaces for agent collaboration.
  - name: Members
    description: Project member management and RBAC.
  - name: Project Space
    description: Markdown files, revisions, project memories, join requests, and cloning.
  - name: Agents
    description: Project-scoped agent registry and configuration.
  - name: Sessions
    description: Shared sessions, participants, and messages.
  - name: Events
    description: Append-only event replay and SSE streaming.
  - name: Health
    description: System and agent observability.
  - name: Notification Metrics
    description: Project and admin notification observability for heartbeat + durable inbox health.
  - name: Debug
    description: Operator-only NAS/LAN JSONL debug log access.
  - name: Agent Runtime
    description: Agent-facing endpoints for project discovery, durable inbox, and workload ledger. Authenticated with agent API key.
  - name: Runtime
    description: Outbound runtime.v1 invoke contract for registered agents.
  - name: Versioning
    description: Project branches, commits, and changeset review/merge workflow.
  - name: Security
    description: Project security advisories.

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    DebugTokenAuth:
      type: apiKey
      in: header
      name: X-Debug-Token

  parameters:
    PidPath:
      name: pid
      in: path
      required: true
      schema:
        type: string
      description: Project identifier.
    ProjectIdPath:
      name: project_id
      in: path
      required: true
      schema:
        type: string
      description: Project identifier.
    AidPath:
      name: aid
      in: path
      required: true
      schema:
        type: string
      description: Agent identifier.
    SidPath:
      name: sid
      in: path
      required: true
      schema:
        type: string
      description: Session identifier.
    UidPath:
      name: uid
      in: path
      required: true
      schema:
        type: string
      description: User identifier.
    FileIdPath:
      name: file_id
      in: path
      required: true
      schema:
        type: string
      description: Project file identifier.
    JoinRequestIdPath:
      name: request_id
      in: path
      required: true
      schema:
        type: string
      description: Project join request identifier.
    TaskIdPath:
      name: task_id
      in: path
      required: true
      schema:
        type: string
      description: Project orchestration task identifier.
    ProjectChangesetIdPath:
      name: changeset_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Project changeset identifier.
    CommitIdPath:
      name: commit_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Project commit identifier.
    AdvisoryIdPath:
      name: advisory_id
      in: path
      required: true
      schema:
        type: string
      description: Security advisory identifier.
    QueryIdPath:
      name: query_id
      in: path
      required: true
      schema:
        type: string
      description: Work saved query identifier.
    AfterSeqQuery:
      name: after_seq
      in: query
      description: Return events or materialized records with seq greater than this value.
      schema:
        type: integer
        minimum: 0
        default: 0
    LimitQuery:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50

  schemas:
    TokenRequest:
      type: object
      required: [api_key]
      properties:
        api_key:
          type: string
          description: API key used to issue a short-lived access token.

    TokenResponse:
      type: object
      required: [access_token, token_type, expires_at]
      properties:
        access_token:
          type: string
        token_type:
          type: string
          enum: [Bearer]
        expires_at:
          type: string
          format: date-time

    PrincipalType:
      type: string
      enum: [user, agent]

    User:
      type: object
      required: [id, username, display_name, principal_type, created_at]
      properties:
        id:
          type: string
        username:
          type: string
        display_name:
          type: string
        principal_type:
          $ref: "#/components/schemas/PrincipalType"
        agent_id:
          type: string
          description: Present when the current principal is an agent service token.
        created_at:
          type: string
          format: date-time

    UserSearchResult:
      type: object
      required: [id, email, display_name, created_at]
      properties:
        id:
          type: string
        email:
          type: string
        display_name:
          type: string
        created_at:
          type: string
          format: date-time

    ProjectRole:
      type: string
      enum: [owner, admin, member, viewer]

    Project:
      type: object
      required: [id, name, owner_id, visibility, status, created_at, updated_at]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        visibility:
          type: string
          enum: [private, public]
        topics:
          type: array
          description: >
            Local repository topic chips (not Work labels, not external-provider
            topics). Each is a trimmed string up to 50 characters; max 20 entries;
            deduplicated case-insensitively.
          items:
            type: string
            maxLength: 50
          maxItems: 20
        clone_source_project_id:
          type:
            - string
            - "null"
        owner_id:
          type: string
        status:
          type: string
          enum: [active, archived]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        branch:
          type: object
          description: Present when a branch-scoped file detail response is requested.
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            head_commit_id:
              type:
                - string
                - "null"
              format: uuid
        branch_commit_id:
          type: string
          format: uuid
          description: Commit id used to resolve branch-scoped file content.
        revision:
          $ref: "#/components/schemas/ProjectFileRevision"

    ProjectCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 1024
        visibility:
          type: string
          enum: [private, public]
          default: private
        topics:
          type: array
          description: >
            Optional local repository topic chips supplied at creation time.
            Validated identically to PATCH: array of trimmed strings, max 20
            entries, max 50 characters each, duplicates collapsed
            case-insensitively, control characters rejected.
          items:
            type: string
            maxLength: 50
          maxItems: 20

    ProjectUpdate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type: string
          maxLength: 1024
        visibility:
          type: string
          enum: [private, public]
        topics:
          type: array
          description: >
            Replace the project topic list. Must be an array of trimmed
            strings; max 20 entries; max 50 visible characters each;
            duplicates collapsed case-insensitively; empty strings and
            control characters rejected. Local-only metadata — not synced
            to any external provider.
          items:
            type: string
            maxLength: 50
          maxItems: 20
        status:
          type: string
          enum: [active, archived]

    ProjectTopicsResponse:
      type: object
      required: [topics]
      properties:
        topics:
          type: array
          description: Local repository topic chips.
          items:
            type: string
            maxLength: 50
          maxItems: 20

    ProjectTopicsUpdateRequest:
      type: object
      required: [topics]
      properties:
        topics:
          type: array
          description: |
            Replacement project topic list. Array of trimmed strings, max 20
            entries, max 50 characters each, duplicates collapsed
            case-insensitively, empty strings dropped, control characters
            rejected.
          items:
            type: string
            maxLength: 50
          maxItems: 20

    ProjectTopicsSearchResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          description: Distinct local repository topics visible to the caller.
          items:
            type: string
            maxLength: 50
        meta:
          type: object
          required: [total, limit, offset]
          properties:
            total:
              type: integer
            limit:
              type: integer
            offset:
              type: integer

    ProjectLanguagesResponse:
      type: object
      required: [languages, total_bytes, source, limitations]
      description: |
        Local-only, extension-based language breakdown. Files without a
        recognized extension (including most binaries) are omitted from the
        byte totals rather than guessed. The `source` and `limitations` fields
        make the estimate's scope explicit.
      properties:
        languages:
          type: object
          description: |
            Mapping from language display name to total bytes. Languages are
            sorted by byte count descending and then by name ascending for
            deterministic output.
          additionalProperties:
            type: integer
            minimum: 0
          example:
            TypeScript: 42100
            JavaScript: 8900
            CSS: 3400
        total_bytes:
          type: integer
          minimum: 0
          description: Sum of bytes for all recognized-language files.
        source:
          type: string
          enum: [project_files]
          description: Indicates that counts come from real Project Space files.
        limitations:
          type: array
          description: Honest limitations of the local estimate.
          items:
            type: string
          example:
            - extension-based local estimate
            - files without a recognized extension are omitted

    ProjectOrchestrationTask:
      type: object
      required:
        - id
        - project_id
        - orchestration_id
        - title
        - goal
        - status
        - assigned_agent_id
        - worker_task_path
        - worker_context_path
        - acceptance_criteria
        - depends_on
        - created_by_user_id
        - created_by_agent_id
        - created_at
        - updated_at
        - orchestration_title
        - orchestration_status
        - orchestration_base_path
        - orchestration_main_agent_id
        - labels
        - timeline
      properties:
        id:
          type: string
        project_id:
          type: string
        orchestration_id:
          type: string
        title:
          type: string
        goal:
          type: string
        status:
          type: string
          enum: [pending, dispatched, running, ready_for_review, approved, changes_requested, blocked, failed, cancelled]
        assigned_agent_id:
          type:
            - string
            - "null"
        worker_task_path:
          type: string
        worker_context_path:
          type: string
        result_path:
          type:
            - string
            - "null"
        evidence_path:
          type:
            - string
            - "null"
        acceptance_criteria:
          type: array
          items:
            type: string
        depends_on:
          type: array
          items:
            type: string
        review_notes:
          type:
            - string
            - "null"
        requested_changes:
          type:
            - string
            - "null"
        created_by_user_id:
          type:
            - string
            - "null"
        created_by_agent_id:
          type:
            - string
            - "null"
        dispatched_at:
          type: string
          format: date-time
          nullable: true
        claimed_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        reviewed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        md_artifacts:
          type: object
          additionalProperties:
            type: string
          nullable: true
        orchestration_title:
          type: string
        orchestration_status:
          type: string
        orchestration_base_path:
          type: string
        orchestration_main_agent_id:
          type:
            - string
            - "null"
        labels:
          type: array
          items:
            $ref: "#/components/schemas/TaskLabel"
        timeline:
          type: array
          items:
            $ref: "#/components/schemas/TaskTimelineEvent"

    TaskLabel:
      type: object
      required: [key, value]
      properties:
        key:
          type: string
          description: Machine-readable label identifier.
        value:
          oneOf:
            - type: string
            - type: boolean
          description: Derived label value.

    TaskTimelineEvent:
      type: object
      required: [type, at]
      properties:
        type:
          type: string
          description: Event type such as created, dispatched, claimed, completed, reviewed, review_linked, changeset_linked, or commit_linked.
        at:
          type: string
          format: date-time
          description: ISO timestamp of the event.
        actor_id:
          type:
            - string
            - "null"
          description: Id of the user or agent associated with the event, when known.
        detail:
          type: object
          additionalProperties: true
          description: Event-specific details such as decision or linked changeset/commit ids.

    ProjectOrchestrationTaskSummary:
      type: object
      required: [status_counts, tabs, total]
      properties:
        status_counts:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
        tabs:
          type: object
          required: [open, ready_for_review, blocked_failed, completed]
          properties:
            open:
              type: integer
              minimum: 0
            ready_for_review:
              type: integer
              minimum: 0
            blocked_failed:
              type: integer
              minimum: 0
            completed:
              type: integer
              minimum: 0
        total:
          type: integer
          minimum: 0
        assignees:
          type: array
          description: Bounded list of assignees with lifecycle counts, scoped to the same filters and caller visibility.
          items:
            type: object
            required: [assigned_agent_id, display_name, total, open, review, done]
            properties:
              assigned_agent_id:
                type: string
                nullable: true
              display_name:
                type: string
              total:
                type: integer
                minimum: 0
              open:
                type: integer
                minimum: 0
              review:
                type: integer
                minimum: 0
              done:
                type: integer
                minimum: 0
        orchestrations:
          type: array
          description: Bounded list of orchestrations with task totals, scoped to the same filters and caller visibility.
          items:
            type: object
            required: [orchestration_id, title, total]
            properties:
              orchestration_id:
                type: string
              title:
                type: string
              total:
                type: integer
                minimum: 0
        batches:
          type: array
          description: Bounded list of local orchestration batches with lifecycle counts and date bounds, scoped to the same filters and caller visibility.
          items:
            type: object
            required: [batch_key, batch_label, orchestration_id, total, open, review, blocked_failed, completed, first_created_at, last_updated_at]
            properties:
              batch_key:
                type: string
              batch_label:
                type: string
              orchestration_id:
                type: string
              total:
                type: integer
                minimum: 0
              open:
                type: integer
                minimum: 0
              review:
                type: integer
                minimum: 0
              blocked_failed:
                type: integer
                minimum: 0
              completed:
                type: integer
                minimum: 0
              first_created_at:
                type: string
                format: date-time
              last_updated_at:
                type: string
                format: date-time
        timeline:
          type: array
          description: Bounded list of date buckets derived from visible task timestamps, scoped to the same filters and caller visibility.
          items:
            type: object
            required: [date, created, updated, completed, review_ready]
            properties:
              date:
                type: string
                format: date
              created:
                type: integer
                minimum: 0
              updated:
                type: integer
                minimum: 0
              completed:
                type: integer
                minimum: 0
              review_ready:
                type: integer
                minimum: 0

    ProjectOrchestrationTaskListResponse:
      type: object
      required: [data, total, limit, offset, summary]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProjectOrchestrationTask"
        total:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 1
        offset:
          type: integer
          minimum: 0
        summary:
          $ref: "#/components/schemas/ProjectOrchestrationTaskSummary"

    WorkSavedQueryFilter:
      type: object
      description: |
        Bounded set of filters supported by Project Space Work saved queries.
        Only the keys listed here are accepted; any other field is rejected.
      properties:
        status:
          type: array
          description: |
            Task status values or status groups. Supported groups are open,
            review, blocked, done. Supported statuses are pending, dispatched,
            running, ready_for_review, approved, changes_requested, blocked,
            failed, cancelled.
          items:
            type: string
        saved_view:
          type: string
          description: Built-in saved view key.
          enum: [my_open, review, has_artifacts, linked, blocked]
        search:
          type: string
          description: Case-insensitive search term for task title, goal, or orchestration title.
          maxLength: 255
        agent:
          type: string
          description: Filter by assigned agent id.
        has_artifacts:
          type: boolean
          description: Filter tasks that have result, evidence, or worker artifact paths.
        has_links:
          type: boolean
          description: Filter tasks with related changesets or commits.
        has_blockers:
          type: boolean
          description: Filter tasks in blocked or failed status.

    WorkSavedQuery:
      type: object
      required:
        - id
        - project_id
        - name
        - description
        - scope
        - query
        - created_by
        - updated_by
        - created_at
        - updated_at
      properties:
        id:
          type: string
        project_id:
          type: string
        name:
          type: string
          maxLength: 128
        description:
          type:
            - string
            - "null"
          maxLength: 2000
        scope:
          type: string
          enum: [work]
          description: Fixed to work/orchestration tasks scope.
        query:
          $ref: "#/components/schemas/WorkSavedQueryFilter"
        created_by:
          type: string
        updated_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WorkSavedQueryCreate:
      type: object
      required: [name, query]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type:
            - string
            - "null"
          maxLength: 2000
        query:
          $ref: "#/components/schemas/WorkSavedQueryFilter"

    WorkSavedQueryUpdate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        description:
          type:
            - string
            - "null"
          maxLength: 2000
        query:
          $ref: "#/components/schemas/WorkSavedQueryFilter"

    WorkSavedQueryListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WorkSavedQuery"

    ProjectOverview:
      type: object
      required:
        - project
        - summary
        - attention
        - recent
        - workload
        - health
        - generated_at
      properties:
        project:
          type: object
          required: [id, name, description, visibility, topics]
          properties:
            id:
              type: string
            name:
              type: string
            description:
              type:
                - string
                - "null"
            visibility:
              type: string
              enum: [private, public]
            topics:
              type: array
              items:
                type: string
        summary:
          type: object
          required: [agents, orchestrations, tasks, files, inbox]
          properties:
            agents:
              type: object
              required: [total, online, stale, offline]
              properties:
                total:
                  type: integer
                  minimum: 0
                online:
                  type: integer
                  minimum: 0
                stale:
                  type: integer
                  minimum: 0
                offline:
                  type: integer
                  minimum: 0
            orchestrations:
              type: object
              required: [total]
              properties:
                total:
                  type: integer
                  minimum: 0
              additionalProperties:
                type: integer
                minimum: 0
            tasks:
              type: object
              required: [total, open_work, ready_for_review, blocked_failed]
              properties:
                total:
                  type: integer
                  minimum: 0
                open_work:
                  type: integer
                  minimum: 0
                ready_for_review:
                  type: integer
                  minimum: 0
                blocked_failed:
                  type: integer
                  minimum: 0
              additionalProperties:
                type: integer
                minimum: 0
            files:
              type: object
              required: [total_count, recent_count]
              properties:
                total_count:
                  type: integer
                  minimum: 0
                recent_count:
                  type: integer
                  minimum: 0
            inbox:
              type: object
              required: [pending_total, unacked_total]
              properties:
                pending_total:
                  type: integer
                  minimum: 0
                unacked_total:
                  type: integer
                  minimum: 0
        attention:
          type: object
          required: [ready_for_review, blocked_failed, stale_inbox]
          properties:
            ready_for_review:
              type: array
              items:
                $ref: "#/components/schemas/ProjectOverviewTaskAttentionItem"
            blocked_failed:
              type: array
              items:
                $ref: "#/components/schemas/ProjectOverviewTaskAttentionItem"
            stale_inbox:
              type: array
              items:
                $ref: "#/components/schemas/ProjectOverviewInboxAttentionItem"
        recent:
          type: object
          required: [orchestrations, files]
          properties:
            orchestrations:
              type: array
              items:
                $ref: "#/components/schemas/ProjectOverviewRecentOrchestration"
            files:
              type: array
              items:
                $ref: "#/components/schemas/ProjectOverviewRecentFile"
        workload:
          type: object
          required: [total_units, reviewed_units, total_final_work_units]
          properties:
            total_units:
              type: integer
              minimum: 0
            reviewed_units:
              type: integer
              minimum: 0
            total_final_work_units:
              type: number
              minimum: 0
        health:
          type: object
          required: [signals]
          properties:
            signals:
              type: array
              items:
                $ref: "#/components/schemas/ProjectOverviewHealthSignal"
        generated_at:
          type: string
          format: date-time

    ProjectOverviewTaskAttentionItem:
      type: object
      required: [task_id, orchestration_id, title, status, assigned_agent_id, updated_at]
      properties:
        task_id:
          type: string
        orchestration_id:
          type: string
        title:
          type: string
        status:
          type: string
        assigned_agent_id:
          type:
            - string
            - "null"
        updated_at:
          type: string
          format: date-time

    ProjectOverviewInboxAttentionItem:
      type: object
      required: [inbox_id, recipient_agent_id, event_type, title, status, age_seconds]
      properties:
        inbox_id:
          type: string
        recipient_agent_id:
          type: string
        event_type:
          type: string
        title:
          type: string
        status:
          type: string
        age_seconds:
          type: integer
          minimum: 0

    ProjectOverviewRecentOrchestration:
      type: object
      required: [id, title, status, main_agent_id, task_count, created_at, updated_at]
      properties:
        id:
          type: string
        title:
          type: string
        status:
          type: string
        main_agent_id:
          type:
            - string
            - "null"
        task_count:
          type: integer
          minimum: 0
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProjectOverviewRecentFile:
      type: object
      required: [file_id, path, content_type, size_bytes, updated_by, updated_at]
      properties:
        file_id:
          type: string
        path:
          type: string
        content_type:
          type: string
        size_bytes:
          type: integer
          minimum: 0
        updated_by:
          type: string
        updated_at:
          type: string
          format: date-time

    ProjectOverviewHealthSignal:
      type: object
      required: [signal_id, agent_id, name, value, unit, status, recorded_at]
      properties:
        signal_id:
          type: string
        agent_id:
          type:
            - string
            - "null"
        name:
          type: string
        value:
          type: number
        unit:
          type:
            - string
            - "null"
        status:
          type:
            - string
            - "null"
        recorded_at:
          type: string
          format: date-time

    ProjectFile:
      type: object
      required: [id, project_id, path, content, content_type, content_hash, size_bytes, updated_at]
      properties:
        id:
          type: string
        project_id:
          type: string
        path:
          type: string
          example: README.md
        content:
          type: string
        content_type:
          type: string
          enum: [text/markdown, text/plain, application/json]
        content_hash:
          type: string
        size_bytes:
          type: integer
        current_revision_id:
          type:
            - string
            - "null"
        created_by:
          type: string
        updated_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProjectReadme:
      type: object
      required: [path, file_id, content, content_type, branch, updated_at]
      properties:
        path:
          type: string
          description: README path as stored in Project Space.
          example: README.md
        file_id:
          type: string
          format: uuid
          description: Identifier of the underlying project file.
        content:
          type: string
          description: Raw README content.
        content_type:
          type: string
          enum: [text/markdown, text/plain, application/json]
          description: Content type of the resolved README revision or file.
        branch:
          type: object
          nullable: true
          description: Branch context when a branch was requested; otherwise null for the default working tree.
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            head_commit_id:
              type: string
              format: uuid
              nullable: true
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp of the file or the resolved branch revision.

    ProjectFileSummary:
      type: object
      required: [id, project_id, path, content_type, content_hash, size_bytes, updated_at]
      properties:
        id:
          type: string
        project_id:
          type: string
        path:
          type: string
        content_type:
          type: string
        content_hash:
          type: string
        size_bytes:
          type: integer
        current_revision_id:
          type:
            - string
            - "null"
        updated_by:
          type: string
        updated_at:
          type: string
          format: date-time

    ProjectFileSearchSnippet:
      type: object
      required: [line_number, text, match_start, match_end]
      properties:
        line_number:
          type: integer
          minimum: 1
        text:
          type: string
          description: Bounded line snippet containing a content match.
        match_start:
          type: integer
          minimum: 0
        match_end:
          type: integer
          minimum: 0

    ProjectFileSearchResult:
      type: object
      required: [file_id, project_id, path, content_type, content_hash, size_bytes, updated_at, match_count, snippets]
      properties:
        file_id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        path:
          type: string
        content_type:
          type: string
        content_hash:
          type: string
        current_revision_id:
          type:
            - string
            - "null"
        size_bytes:
          type: integer
        updated_at:
          type: string
          format: date-time
        match_count:
          type: integer
          minimum: 0
          description: Number of literal case-insensitive content matches. Path-only matches can be zero.
        snippets:
          type: array
          maxItems: 3
          items:
            $ref: "#/components/schemas/ProjectFileSearchSnippet"
        branch:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            head_commit_id:
              type: string
              format: uuid
              nullable: true
        branch_commit_id:
          type: string
          format: uuid
          nullable: true
        revision_id:
          type: string
          format: uuid
          nullable: true
        revision_number:
          type: integer
          nullable: true

    ProjectFileList:
      type: object
      required: [data, total, limit, offset, path_prefix]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProjectFileSummary"
        total:
          type: integer
          minimum: 0
        limit:
          type: integer
        offset:
          type: integer
          minimum: 0
        path_prefix:
          type:
            - string
            - "null"
        branch:
          type: object
          nullable: true
          description: Present when `branch` query parameter was provided.
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            head_commit_id:
              type: string
              format: uuid
              nullable: true

    ProjectFileDirectoryEntry:
      type: object
      required: [name, path, child_count, size_bytes, latest_updated_at]
      description: Synthetic directory metadata aggregated from descendant files.
      properties:
        name:
          type: string
          description: Directory basename (the last path segment before the trailing slash).
        path:
          type: string
          description: Full directory path ending with a trailing slash.
        child_count:
          type: integer
          minimum: 0
          description: Number of files and directories nested under this directory.
        size_bytes:
          type: integer
          minimum: 0
          description: Sum of `size_bytes` for all descendant files.
        latest_updated_at:
          type:
            - string
            - "null"
          format: date-time
          description: Most recent `updated_at` among descendant files, or null.

    ProjectFileChildrenList:
      type: object
      required: [view, path_prefix, directories, files]
      properties:
        view:
          type: string
          enum: [children]
        path_prefix:
          type:
            - string
            - "null"
        q:
          type: string
          description: Present when a search query was supplied.
        directories:
          type: array
          items:
            $ref: "#/components/schemas/ProjectFileDirectoryEntry"
        files:
          type: object
          required: [data, total, limit, offset]
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ProjectFileSummary"
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
            offset:
              type: integer
              minimum: 0
        branch:
          type: object
          nullable: true
          description: Present when `branch` query parameter was provided.
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            head_commit_id:
              type: string
              format: uuid
              nullable: true

    ProjectFileRevision:
      type: object
      required: [id, project_id, file_id, path, revision_number, content, content_hash, created_at]
      properties:
        id:
          type: string
        project_id:
          type: string
        file_id:
          type: string
        path:
          type: string
        revision_number:
          type: integer
          minimum: 1
        content:
          type: string
        content_type:
          type: string
        content_hash:
          type: string
        message:
          type: string
        created_by:
          type: string
        created_at:
          type: string
          format: date-time

    ProjectFileBlameLine:
      type: object
      required: [line_number, content, revision_id, revision_number, content_hash, is_current_revision]
      properties:
        line_number:
          type: integer
          minimum: 1
        content:
          type: string
        revision_id:
          type: string
          format: uuid
        revision_number:
          type: integer
          minimum: 1
        content_hash:
          type: string
        message:
          type: string
          nullable: true
        created_by:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        is_current_revision:
          type: boolean

    ProjectFileBlameResponse:
      type: object
      required: [project_id, file_id, path, file, revision, blame_model, is_git_blame, limitations, lines]
      properties:
        project_id:
          type: string
          format: uuid
        file_id:
          type: string
          format: uuid
        path:
          type: string
        file:
          $ref: "#/components/schemas/ProjectFileSummary"
        revision:
          $ref: "#/components/schemas/ProjectFileRevision"
        branch:
          type: string
          nullable: true
        branch_commit_id:
          type: string
          format: uuid
          nullable: true
        blame_model:
          type: string
          enum: [line-content-same-position]
        is_git_blame:
          type: boolean
          enum: [false]
        limitations:
          type: array
          items:
            type: string
        lines:
          type: array
          items:
            $ref: "#/components/schemas/ProjectFileBlameLine"

    ProjectFileRevisionDiffSummary:
      type: object
      required: [old_lines, new_lines, unchanged_lines, lines_removed, lines_added, lines_changed, changed]
      properties:
        old_lines:
          type: integer
          minimum: 0
        new_lines:
          type: integer
          minimum: 0
        unchanged_lines:
          type: integer
          minimum: 0
        lines_removed:
          type: integer
          minimum: 0
        lines_added:
          type: integer
          minimum: 0
        lines_changed:
          type: integer
          minimum: 0
        changed:
          type: boolean

    ProjectFileRevisionCompareResponse:
      type: object
      required: [project_id, file_id, path, base_revision, head_revision, old_content, new_content, old_content_hash, new_content_hash, summary]
      properties:
        project_id:
          type: string
        file_id:
          type: string
        path:
          type: string
        base_revision:
          $ref: "#/components/schemas/ProjectFileRevision"
        head_revision:
          $ref: "#/components/schemas/ProjectFileRevision"
        old_content:
          type: string
        new_content:
          type: string
        old_content_hash:
          type: string
        new_content_hash:
          type: string
        summary:
          $ref: "#/components/schemas/ProjectFileRevisionDiffSummary"

    ProjectFileWrite:
      type: object
      required: [path, content]
      description: |
        Create or overwrite a project file. For inline editing of an existing
        file, `base_revision_id` is **required** and must match the file's
        `current_revision_id`; a stale value returns `409 File revision conflict`.
        Omit `base_revision_id` only when creating a new file.
      properties:
        path:
          type: string
          description: Relative project path. Must not start with `/` or contain `..`.
        content:
          type: string
          maxLength: 1048576
        content_type:
          type: string
          enum: [text/markdown, text/plain, application/json]
          default: text/markdown
        base_revision_id:
          type: string
          description: |
            Current revision id of the file being edited. Required when the file
            already exists; omit (or set `null`) when creating a new file. Used
            as an optimistic concurrency guard.
        message:
          type: string
          maxLength: 512

    ProjectFileUploadItem:
      type: object
      required: [path, content_base64]
      description: A single file within a browser upload batch.
      properties:
        path:
          type: string
          minLength: 1
          maxLength: 1024
          description: Relative project path. Must not start with `/` or contain `..`.
        content_base64:
          type: string
          minLength: 1
          description: File content encoded as base64 for safe JSON transport.
        content_type:
          type: string
          maxLength: 64
          default: application/octet-stream
          description: MIME type of the decoded content. Defaults to application/octet-stream.
        base_revision_id:
          type: string
          nullable: true
          description: |
            Required to overwrite an existing file. Must match the file's
            `current_revision_id`; a stale value returns `409`.
        message:
          type: string
          maxLength: 512
          description: Optional per-file revision message.

    ProjectFileUploadBatch:
      type: object
      required: [files]
      description: |
        Batch upload request. The transaction is atomic: if any file fails
        validation or has a revision conflict, no files are persisted.
      properties:
        files:
          type: array
          minItems: 1
          maxItems: 20
          items:
            $ref: "#/components/schemas/ProjectFileUploadItem"
        message:
          type: string
          maxLength: 512
          description: Default revision message applied to files that do not supply their own.

    ProjectFileUploadResponse:
      type: object
      required: [data]
      description: Result of a successful batch upload.
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProjectFileUpsertResponse"

    ProjectFileRename:
      type: object
      required: [path, base_revision_id]
      properties:
        path:
          type: string
          description: New relative project path. Must not start with `/` or contain `..`.
        base_revision_id:
          type: string
          description: Current revision id used as an optimistic concurrency guard.
        message:
          type: string
          maxLength: 512

    ProjectFileDelete:
      type: object
      required: [base_revision_id]
      properties:
        base_revision_id:
          type: string
          description: Current revision id used as an optimistic concurrency guard.
        message:
          type: string
          maxLength: 512
          description: Ignored by the server; reserved for future audit logging.

    ProjectFileRenameResponse:
      type: object
      allOf:
        - $ref: "#/components/schemas/ProjectFile"
      properties:
        old_path:
          type: string
          description: Previous project path before the rename.
        revision:
          $ref: "#/components/schemas/ProjectFileRevision"

    ProjectFileDeleteResponse:
      type: object
      required: [id, project_id, path, deleted_at, current_revision_id]
      properties:
        id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        path:
          type: string
        deleted_at:
          type: string
          format: date-time
        current_revision_id:
          type:
            - string
            - "null"

    ProjectFileUpsertResponse:
      type: object
      description: |
        Result of creating or updating a project file. Includes the full file
        record plus the newly created revision so the inline editor can refresh
        its `current_revision_id` and revision number.
      allOf:
        - $ref: "#/components/schemas/ProjectFile"
      properties:
        revision:
          $ref: "#/components/schemas/ProjectFileRevision"

    ProjectMemory:
      type: object
      required: [id, project_id, content, tags, visibility, created_at, updated_at]
      properties:
        id:
          type: string
        project_id:
          type: string
        agent_id:
          type:
            - string
            - "null"
        author_user_id:
          type:
            - string
            - "null"
        content:
          type: string
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true
        visibility:
          type: string
          enum: [project, agent]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProjectMemoryCreate:
      type: object
      required: [content]
      properties:
        content:
          type: string
          minLength: 1
          maxLength: 20000
        agent_id:
          type: string
          description: If present, memory is scoped to that agent.
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true

    ProjectJoinRequest:
      type: object
      required: [id, project_id, user_id, status, requested_role, created_at, updated_at]
      properties:
        id:
          type: string
        project_id:
          type: string
        user_id:
          type: string
        user_email:
          type:
            - string
            - "null"
        user_display_name:
          type:
            - string
            - "null"
        status:
          type: string
          enum: [pending, approved, rejected, cancelled]
        requested_role:
          type: string
          enum: [member, viewer]
        note:
          type: string
        reviewed_by:
          type:
            - string
            - "null"
        reviewed_at:
          type:
            - string
            - "null"
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProjectJoinRequestCreate:
      type: object
      properties:
        requested_role:
          type: string
          enum: [member, viewer]
          default: member
        note:
          type: string
          maxLength: 1000

    ProjectJoinRequestReview:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [approved, rejected]
        role:
          type: string
          enum: [admin, member, viewer]

    ProjectCloneRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        visibility:
          type: string
          enum: [private, public]
          default: private

    Member:
      type: object
      required: [user_id, role, joined_at]
      properties:
        user_id:
          type: string
        username:
          type: string
        display_name:
          type: string
        role:
          $ref: "#/components/schemas/ProjectRole"
        joined_at:
          type: string
          format: date-time

    MemberCreate:
      type: object
      required: [user_id, role]
      properties:
        user_id:
          type: string
        role:
          type: string
          enum: [admin, member, viewer]

    MemberUpdate:
      type: object
      required: [role]
      properties:
        role:
          type: string
          enum: [admin, member, viewer]

    ProjectOwnerTransferRequest:
      type: object
      required: [target_user_id, confirm_project_name]
      properties:
        target_user_id:
          type: string
          format: uuid
          description: Existing project member who will become the new owner.
        confirm_project_name:
          type: string
          description: Must exactly match the current project name.

    ProjectOwnerTransferResponse:
      type: object
      required: [project, members]
      properties:
        project:
          $ref: "#/components/schemas/Project"
        members:
          type: array
          items:
            $ref: "#/components/schemas/Member"

    ProjectArchiveActionRequest:
      type: object
      required: [confirm_project_name]
      properties:
        confirm_project_name:
          type: string
          description: Must exactly match the current project name.

    CompliancePolicyUpdateRequest:
      type: object
      properties:
        retention_days:
          type: integer
          nullable: true
          minimum: 30
          maximum: 3650
          description: Audit event retention days. Set to null to clear (unlimited retention). Must be between 30 and 3650 when set.
        legal_hold_enabled:
          type: boolean
          description: When true, legal hold is enabled and blocks retention pruning. Owner/admin only.

    ProjectAuditEvent:
      type: object
      required: [id, project_id, actor_user_id, action, created_at]
      properties:
        id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        actor_user_id:
          type: string
          format: uuid
        actor_display_name:
          type: string
          nullable: true
        actor_email:
          type: string
          nullable: true
        target_user_id:
          type: string
          format: uuid
          nullable: true
        target_display_name:
          type: string
          nullable: true
        target_email:
          type: string
          nullable: true
        action:
          type: string
          enum: [member_added, member_role_changed, member_removed, owner_transferred, project_settings_updated, project_archived, project_unarchived, wiki_page_created, wiki_page_updated, release_created, release_updated, package_created, package_updated, security_advisory_created, security_advisory_updated, branch_created, branch_renamed, branch_deleted, branch_default_set, branch_protection_changed, changeset_reviewers_requested, audit_retention_policy_updated, audit_retention_pruned]
        previous_role:
          type: string
          enum: [owner, admin, member, viewer]
          nullable: true
        new_role:
          type: string
          enum: [owner, admin, member, viewer]
          nullable: true
        metadata:
          type: object
          nullable: true
        created_at:
          type: string
          format: date-time

    ProjectWebhookDelivery:
      type: object
      required:
        - id
        - project_id
        - event_id
        - event_type
        - attempt
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        event_id:
          type: string
        event_type:
          type: string
        attempt:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [success, failed, retrying, dead_letter]
        http_status_code:
          type: integer
          nullable: true
          minimum: 100
          maximum: 599
        message:
          type: string
          nullable: true
          description: Sanitized error or status summary. Never contains the webhook secret or raw URL credentials.
        masked_url:
          type: string
          nullable: true
          description: Masked webhook URL. Userinfo and query strings are redacted.
        created_at:
          type: string
          format: date-time

    ProjectAuditComplianceSummary:
      type: object
      required:
        - project_id
        - total_events
        - oldest_event_at
        - newest_event_at
        - action_counts
        - export
        - redaction_policy
        - retention_policy
        - legal_hold
        - immutable_attestation
      properties:
        project_id:
          type: string
          format: uuid
        total_events:
          type: integer
          minimum: 0
        oldest_event_at:
          type: string
          format: date-time
          nullable: true
        newest_event_at:
          type: string
          format: date-time
          nullable: true
        action_counts:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
        export:
          type: object
          required: [available, formats]
          properties:
            available:
              type: boolean
            formats:
              type: array
              items:
                type: string
                enum: [json, csv]
        redaction_policy:
          type: object
          required: [strategy, sensitive_keys, description]
          properties:
            strategy:
              type: string
              enum: [key_based]
            sensitive_keys:
              type: array
              items:
                type: string
            description:
              type: string
        retention_policy:
          type: object
          required: [configured, status, retention_days, cutoff_at, eligible_event_count, description]
          properties:
            configured:
              type: boolean
            status:
              type: string
              enum: [not_configured, active, blocked_by_legal_hold]
            retention_days:
              type: integer
              nullable: true
            cutoff_at:
              type: string
              format: date-time
              nullable: true
            eligible_event_count:
              type: integer
              minimum: 0
            description:
              type: string
        immutable_attestation:
          type: object
          required:
            - available
            - status
            - verified
            - local_only
            - legal_grade
            - algorithm
            - version
            - total_events
            - covered_events
            - missing_hash_count
            - latest_event_id
            - latest_hash
            - broken_at_event_id
            - description
          properties:
            available:
              type: boolean
              description: Whether local audit hash-chain attestation is available.
            status:
              type: string
              enum: [empty, verified, broken]
              description: Current local hash-chain verification state.
            verified:
              type: boolean
              description: True when every covered event matches the stored local hash chain.
            local_only:
              type: boolean
              enum: [true]
              description: This is a local integrity proof only.
            legal_grade:
              type: boolean
              enum: [false]
              description: This is not legal-grade immutable attestation.
            algorithm:
              type: string
              enum: [sha256]
            version:
              type: string
              enum: [v1]
            total_events:
              type: integer
              minimum: 0
            covered_events:
              type: integer
              minimum: 0
            missing_hash_count:
              type: integer
              minimum: 0
            latest_event_id:
              type: string
              format: uuid
              nullable: true
            latest_hash:
              type: string
              nullable: true
              pattern: "^[a-f0-9]{64}$"
            broken_at_event_id:
              type: string
              format: uuid
              nullable: true
            description:
              type: string
        legal_hold:
          type: object
          required: [enabled, status, description]
          properties:
            enabled:
              type: boolean
              description: Whether legal hold is currently active for this project.
            status:
              type: string
              enum: [enabled, disabled]
              description: Legal hold operational status.
            description:
              type: string
              description: Human-readable explanation of the legal hold state.

    AgentScope:
      type: string
      enum:
        - agent:read
        - sessions:read
        - messages:write
        - health:write

    AgentPresence:
      type: string
      enum: [online, stale, offline]

    Agent:
      type: object
      required: [id, project_id, name, endpoint_url, status, created_at, updated_at]
      properties:
        id:
          type: string
        project_id:
          type: string
        name:
          type: string
        description:
          type: string
        system_prompt:
          type: string
        endpoint_url:
          type: string
          format: uri
          description: Full runtime invoke URL called directly by the platform.
        api_key_prefix:
          type: string
          description: Non-secret prefix of the agent service token.
        invoke_secret_prefix:
          type: string
          description: Non-secret prefix of the runtime HMAC secret.
        scopes:
          type: array
          items:
            $ref: "#/components/schemas/AgentScope"
        status:
          type: string
          enum: [active, inactive, idle, error]
        presence:
          $ref: "#/components/schemas/AgentPresence"
        health_status:
          type: string
          enum: [healthy, degraded, down]
        is_online:
          type: boolean
          description: True when the agent has a fresh heartbeat and is eligible for new work.
        dispatchable:
          type: boolean
          description: True when orchestration can assign the agent new PM/worker tasks.
        last_heartbeat_at:
          type: string
          format: date-time
          nullable: true
        heartbeat_age_ms:
          type: integer
          nullable: true
          description: Milliseconds since the last heartbeat, or null when the agent has never checked in.
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AgentCreate:
      type: object
      required: [name, endpoint_url, invoke_secret]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
        description:
          type: string
          maxLength: 512
        system_prompt:
          type: string
        endpoint_url:
          type: string
          format: uri
          description: Full runtime invoke URL, for example `http://localhost:9001/zz/v1/invoke`.
        invoke_secret:
          type: string
          minLength: 16
          writeOnly: true
          description: Shared HMAC secret used to sign runtime.v1 invoke requests.
        scopes:
          type: array
          items:
            $ref: "#/components/schemas/AgentScope"
          default: ["agent:read", "sessions:read", "messages:write", "health:write"]

    AgentUpdate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 64
        description:
          type: string
          maxLength: 512
        system_prompt:
          type: string
        endpoint_url:
          type: string
          format: uri
        invoke_secret:
          type: string
          minLength: 16
          writeOnly: true
          description: Replaces the stored runtime HMAC secret when present.
        scopes:
          type: array
          items:
            $ref: "#/components/schemas/AgentScope"
        status:
          type: string
          enum: [offline, idle, running, error]

    SessionStatus:
      type: string
      enum: [active, closed, archived]

    Session:
      type: object
      required: [id, project_id, status, participants, last_seq, created_at, updated_at]
      properties:
        id:
          type: string
        project_id:
          type: string
        title:
          type: string
        status:
          $ref: "#/components/schemas/SessionStatus"
        participants:
          type: array
          items:
            $ref: "#/components/schemas/SessionParticipant"
        last_seq:
          type: integer
          minimum: 0
          description: Last committed event sequence for this session.
        created_by:
          type: string
        version:
          type: integer
          minimum: 1
          description: Optimistic concurrency version for PATCH.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SessionCreate:
      type: object
      required: [agent_ids]
      properties:
        title:
          type: string
          maxLength: 256
        agent_ids:
          type: array
          minItems: 1
          items:
            type: string
          description: Agents to join as active session participants.

    SessionUpdate:
      type: object
      properties:
        title:
          type: string
          maxLength: 256
        status:
          $ref: "#/components/schemas/SessionStatus"
        version:
          type: integer
          minimum: 1

    SessionParticipant:
      type: object
      required: [id, session_id, participant_type, ref_id, role, status, joined_at]
      properties:
        id:
          type: string
        session_id:
          type: string
        participant_type:
          type: string
          enum: [user, agent]
        ref_id:
          type: string
          description: User id or agent id addressed by this participant.
        role:
          type: string
          enum: [owner, admin, member, viewer, agent]
        status:
          type: string
          enum: [active, left, removed]
        joined_at:
          type: string
          format: date-time

    MessageVisibility:
      type: string
      enum: [session, direct]
      description: "`direct` is visible only to sender, recipients, owner, and admin."

    Message:
      type: object
      required:
        - id
        - session_id
        - sender_participant_id
        - sender_type
        - content
        - content_type
        - visibility
        - recipient_participant_ids
        - dispatch_ttl
        - seq
        - created_at
      properties:
        id:
          type: string
        session_id:
          type: string
        sender_participant_id:
          type: string
        sender_type:
          type: string
          enum: [user, agent, system]
        sender_id:
          type: string
        content:
          type: string
        content_type:
          type: string
          enum: [text, markdown, json]
        visibility:
          $ref: "#/components/schemas/MessageVisibility"
        recipient_participant_ids:
          type: array
          items:
            type: string
          description: Empty means broadcast; non-empty means targeted delivery.
        dispatch_ttl:
          type: integer
          minimum: 0
          description: Remaining dispatch propagation depth. Zero stops propagation.
        parent_message_id:
          type: string
        source_run_id:
          type: string
        idempotency_key:
          type: string
        seq:
          type: integer
          minimum: 1
        created_at:
          type: string
          format: date-time

    CreateMessageRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
          minLength: 1
        content_type:
          type: string
          enum: [text, markdown, json]
          default: text
        recipient_participant_ids:
          type: array
          items:
            type: string
          default: []
          description: Empty array broadcasts to the session; non-empty targets specific participants.
        visibility:
          $ref: "#/components/schemas/MessageVisibility"
          default: session
        dispatch_ttl:
          type: integer
          minimum: 0
          maximum: 8
          default: 1
          description: Prevents agent-to-agent ping-pong; zero records only the message.
        idempotency_key:
          type: string
          minLength: 1
          maxLength: 128
          description: Client-provided key for idempotent message/event creation.
        parent_message_id:
          type: string
        source_run_id:
          type: string
          description: Run id when an agent posts a reply for an assigned run.

    EventType:
      type: string
      enum:
        - session.created
        - session.updated
        - participant.joined
        - participant.left
        - message.created
        - agent.run.queued
        - agent.run.started
        - agent.run.completed
        - agent.run.failed
        - health.metric

    EventEnvelope:
      type: object
      required: [id, seq, type, session_id, project_id, payload, created_at]
      properties:
        id:
          type: string
          description: Unique event identifier.
        seq:
          type: integer
          minimum: 1
          description: Monotonically increasing sequence number within a session.
        type:
          $ref: "#/components/schemas/EventType"
        session_id:
          type: string
        project_id:
          type: string
        actor_participant_id:
          type: string
        payload:
          oneOf:
            - $ref: "#/components/schemas/MessageCreatedPayload"
            - $ref: "#/components/schemas/AgentRunQueuedPayload"
            - $ref: "#/components/schemas/AgentRunStartedPayload"
            - $ref: "#/components/schemas/AgentRunCompletedPayload"
            - $ref: "#/components/schemas/AgentRunFailedPayload"
            - $ref: "#/components/schemas/HealthMetricPayload"
          description: Event-type-specific payload.
        idempotency_key:
          type: string
        trace_id:
          type: string
        created_at:
          type: string
          format: date-time

    MessageCreatedPayload:
      type: object
      required: [message_id, sender_participant_id, visibility, recipient_participant_ids]
      properties:
        message_id:
          type: string
        sender_participant_id:
          type: string
        sender_type:
          type: string
          enum: [user, agent, system]
        content_type:
          type: string
          enum: [text, markdown, json]
        visibility:
          $ref: "#/components/schemas/MessageVisibility"
        recipient_participant_ids:
          type: array
          items:
            type: string
        dispatch_ttl:
          type: integer
          minimum: 0
        parent_message_id:
          type: string
        source_run_id:
          type: string

    AgentRunQueuedPayload:
      type: object
      required: [run_id, agent_id, trigger_message_id, delivery_id]
      properties:
        run_id:
          type: string
        agent_id:
          type: string
        trigger_message_id:
          type: string
        delivery_id:
          type: string
        attempt:
          type: integer
          minimum: 1
          default: 1
        target_participant_id:
          type: string

    AgentRunStartedPayload:
      type: object
      required: [run_id, agent_id, delivery_id, started_at]
      properties:
        run_id:
          type: string
        agent_id:
          type: string
        delivery_id:
          type: string
        started_at:
          type: string
          format: date-time

    AgentRunCompletedPayload:
      type: object
      required: [run_id, agent_id, status, duration_ms]
      properties:
        run_id:
          type: string
        agent_id:
          type: string
        status:
          type: string
          enum: [completed, no_reply]
        output_message_ids:
          type: array
          items:
            type: string
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/AgentReportedMetric"
        duration_ms:
          type: integer
          minimum: 0
        completed_at:
          type: string
          format: date-time

    AgentRunFailedPayload:
      type: object
      required: [run_id, agent_id, error]
      properties:
        run_id:
          type: string
        agent_id:
          type: string
        error:
          $ref: "#/components/schemas/AgentReportedError"
        failed_at:
          type: string
          format: date-time

    HealthMetricPayload:
      type: object
      required: [agent_id, name, value, unit, observed_at]
      properties:
        project_id:
          type: string
        agent_id:
          type: string
        run_id:
          type: string
        name:
          type: string
        value:
          type: number
        unit:
          type: string
          enum: [count, ms, percent, bytes, tokens]
        tags:
          type: object
          additionalProperties:
            type: string
        observed_at:
          type: string
          format: date-time

    AgentInvokeTrigger:
      type: object
      required: [kind, message_id, sender_participant_id]
      properties:
        kind:
          type: string
          enum: [user_message, system_message, agent_message]
        message_id:
          type: string
        sender_participant_id:
          type: string
        recipient_participant_ids:
          type: array
          items:
            type: string
        visibility:
          $ref: "#/components/schemas/MessageVisibility"
        dispatch_ttl:
          type: integer
          minimum: 0

    AgentRuntimeConfigSnapshot:
      type: object
      required: [id, name, endpoint_url, scopes]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        system_prompt:
          type: string
        endpoint_url:
          type: string
          format: uri
        scopes:
          type: array
          items:
            $ref: "#/components/schemas/AgentScope"

    AgentSessionSnapshot:
      type: object
      required: [id, project_id, title, participants, last_seq]
      properties:
        id:
          type: string
        project_id:
          type: string
        title:
          type: string
        participants:
          type: array
          items:
            $ref: "#/components/schemas/SessionParticipant"
        last_seq:
          type: integer
          minimum: 0

    RecentMessage:
      type: object
      required: [id, seq, sender_participant_id, content, content_type, visibility, created_at]
      properties:
        id:
          type: string
        seq:
          type: integer
          minimum: 1
        sender_participant_id:
          type: string
        content:
          type: string
        content_type:
          type: string
          enum: [text, markdown, json]
        visibility:
          $ref: "#/components/schemas/MessageVisibility"
        recipient_participant_ids:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time

    RuntimeInvokeConfig:
      type: object
      required: [timeout_ms, max_recent_messages]
      properties:
        timeout_ms:
          type: integer
          minimum: 1
          default: 30000
        max_recent_messages:
          type: integer
          minimum: 0
          maximum: 100
          default: 20

    ProjectMemorySnapshot:
      type: object
      required: [id, content, updated_at]
      properties:
        id:
          type: string
        agent_id:
          type:
            - string
            - "null"
        content:
          type: string
        tags:
          type: array
          items:
            type: string
        visibility:
          type: string
          enum: [project, agent]
        updated_at:
          type: string
          format: date-time

    AgentInvokeRequest:
      type: object
      required:
        - protocol_version
        - project_id
        - session_id
        - agent_id
        - run_id
        - delivery_id
        - attempt
        - trigger
        - agent
        - session
        - recent_messages
        - runtime
        - trace_id
        - correlation_id
        - created_at
      properties:
        protocol_version:
          type: string
          enum: [runtime.v1]
        project_id:
          type: string
        session_id:
          type: string
        agent_id:
          type: string
        run_id:
          type: string
        delivery_id:
          type: string
        attempt:
          type: integer
          minimum: 1
        trigger:
          $ref: "#/components/schemas/AgentInvokeTrigger"
        agent:
          $ref: "#/components/schemas/AgentRuntimeConfigSnapshot"
        session:
          $ref: "#/components/schemas/AgentSessionSnapshot"
        recent_messages:
          type: array
          items:
            $ref: "#/components/schemas/RecentMessage"
        project_memories:
          type: array
          description: Project-level memories plus memories scoped to the invoked agent.
          items:
            $ref: "#/components/schemas/ProjectMemorySnapshot"
        runtime:
          $ref: "#/components/schemas/RuntimeInvokeConfig"
        trace_id:
          type: string
        correlation_id:
          type: string
        created_at:
          type: string
          format: date-time

    AgentResponseMessage:
      type: object
      required: [content]
      properties:
        content:
          type: string
          minLength: 1
        content_type:
          type: string
          enum: [text, markdown, json]
          default: text
        recipient_participant_ids:
          type: array
          items:
            type: string
          default: []
          description: Empty means session-visible broadcast by the responding agent.
        visibility:
          $ref: "#/components/schemas/MessageVisibility"
          default: session
        dispatch_ttl:
          type: integer
          minimum: 0
          maximum: 8
          default: 0

    AgentReportedMetric:
      type: object
      required: [name, value]
      properties:
        name:
          type: string
        value:
          type: number
        unit:
          type: string
          enum: [count, ms, percent, bytes, tokens]
        tags:
          type: object
          additionalProperties:
            type: string

    AgentReportedError:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        retryable:
          type: boolean
          default: false

    AgentInvokeResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [completed, no_reply, failed, rejected]
        messages:
          type: array
          items:
            $ref: "#/components/schemas/AgentResponseMessage"
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/AgentReportedMetric"
        error:
          $ref: "#/components/schemas/AgentReportedError"
        debug:
          type: object
          properties:
            summary:
              type: string
            logs:
              type: array
              items:
                type: string

    HealthSnapshot:
      type: object
      required: [status, checked_at]
      properties:
        project_id:
          type: string
        agent_id:
          type: string
        status:
          type: string
          enum: [healthy, degraded, down]
        presence:
          $ref: "#/components/schemas/AgentPresence"
        is_online:
          type: boolean
        dispatchable:
          type: boolean
        last_seen_at:
          type: string
          format: date-time
          nullable: true
        heartbeat_age_ms:
          type: integer
          nullable: true
        failure_rate_5m:
          type: number
          minimum: 0
          maximum: 1
        p95_duration_ms:
          type: number
          minimum: 0
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/HealthMetricPayload"
        checked_at:
          type: string
          format: date-time

    HealthReportRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [healthy, degraded, down]
        run_id:
          type: string
        latency_ms:
          type: integer
          minimum: 0
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/AgentReportedMetric"
        observed_at:
          type: string
          format: date-time

    AgentHeartbeatRequest:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, down, active, idle, running, error, inactive, offline]
        metadata:
          type: object
          additionalProperties: true

    AgentHeartbeatResponse:
      type: object
      required: [ok, agent_id, status, agent_status, presence, is_online, dispatchable, next_heartbeat_at]
      properties:
        ok:
          type: boolean
        agent_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [healthy, degraded, down]
        agent_status:
          type: string
          enum: [active, inactive, idle, error]
        presence:
          $ref: "#/components/schemas/AgentPresence"
        is_online:
          type: boolean
        dispatchable:
          type: boolean
        pending_inbox_count:
          type: integer
          minimum: 0
          description: Number of unread/unacked inbox items awaiting attention.
        last_heartbeat_at:
          type: string
          format: date-time
          nullable: true
        heartbeat_age_ms:
          type: integer
          nullable: true
          minimum: 0
        next_heartbeat_at:
          type: string
          format: date-time
        message:
          type: string

    DebugLogEntry:
      type: object
      required: [ts, level, msg]
      additionalProperties: true
      properties:
        ts:
          type: string
          format: date-time
        level:
          type: string
          enum: [debug, info, warn, error]
        msg:
          type: string
        request_id:
          type: string
        method:
          type: string
        path:
          type: string
        original_url:
          type: string
          description: URL path without query values.
        status:
          type: integer
          minimum: 100
          maximum: 599
        duration_ms:
          type: integer
          minimum: 0
        user_id:
          type: string
        agent_id:
          type: string
        agent_name:
          type: string
        project_id:
          type: string
        session_id:
          type: string
        query_keys:
          type: array
          items:
            type: string
        body_keys:
          type: array
          items:
            type: string

    DebugLogListResponse:
      type: object
      required: [file, count, entries]
      properties:
        file:
          type: string
          nullable: true
        count:
          type: integer
          minimum: 0
        entries:
          type: array
          items:
            $ref: "#/components/schemas/DebugLogEntry"

    DebugLogConfigResponse:
      type: object
      required: [file_enabled, file_path, api_enabled, level, max_bytes, max_files, tail_max_bytes]
      properties:
        file_enabled:
          type: boolean
        file_path:
          type: string
          nullable: true
        api_enabled:
          type: boolean
        level:
          type: string
          enum: [debug, info, warn, error]
        max_bytes:
          type: integer
          minimum: 0
        max_files:
          type: integer
          minimum: 1
        tail_max_bytes:
          type: integer
          minimum: 65536

    NotificationMetricsResponse:
      type: object
      required: [project_id, agents, summary]
      properties:
        project_id:
          type: string
          format: uuid
        agents:
          type: array
          items:
            $ref: "#/components/schemas/AgentNotificationMetrics"
        summary:
          $ref: "#/components/schemas/NotificationMetricsSummary"

    AgentNotificationMetrics:
      type: object
      required: [agent_id, agent_name, presence, last_heartbeat_at, pending_inbox_count, oldest_unacked_age_seconds]
      properties:
        agent_id:
          type: string
          format: uuid
        agent_name:
          type: string
        presence:
          type: string
          enum: [online, stale, offline]
        last_heartbeat_at:
          type: string
          format: date-time
          nullable: true
        pending_inbox_count:
          type: integer
          minimum: 0
        oldest_unacked_age_seconds:
          type: number
          nullable: true

    NotificationMetricsSummary:
      type: object
      required: [total_agents, online_count, stale_count, offline_count, pending_inbox_total, oldest_unacked_age_seconds, ack_latency_p50_seconds, ack_latency_p95_seconds, task_review_latency_p50_seconds, task_review_latency_p95_seconds]
      properties:
        total_agents:
          type: integer
          minimum: 0
        online_count:
          type: integer
          minimum: 0
        stale_count:
          type: integer
          minimum: 0
        offline_count:
          type: integer
          minimum: 0
        pending_inbox_total:
          type: integer
          minimum: 0
        oldest_unacked_age_seconds:
          type: number
          nullable: true
        ack_latency_p50_seconds:
          type: number
          nullable: true
        ack_latency_p95_seconds:
          type: number
          nullable: true
        task_review_latency_p50_seconds:
          type: number
          nullable: true
        task_review_latency_p95_seconds:
          type: number
          nullable: true

    AdminNotificationMetricsResponse:
      type: object
      required: [projects, aggregate]
      properties:
        projects:
          type: array
          items:
            $ref: "#/components/schemas/NotificationMetricsResponse"
        aggregate:
          $ref: "#/components/schemas/NotificationMetricsSummary"

    Error:
      type: object
      required: [detail]
      properties:
        detail:
          type: string

    ValidationError:
      type: object
      required: [detail]
      properties:
        detail:
          type: array
          items:
            type: object
            required: [loc, msg, type]
            properties:
              loc:
                type: array
                items:
                  oneOf:
                    - type: string
                    - type: integer
              msg:
                type: string
              type:
                type: string

    AgentProjectDiscovery:
      type: object
      properties:
        project:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            description:
              type: string
              nullable: true
            created_at:
              type: string
              format: date-time
              nullable: true
        agent:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            status:
              type: string
            runtime:
              type: string
        role:
          type: string

    InboxItem:
      type: object
      properties:
        id:
          type: string
        project_id:
          type: string
        recipient_agent_id:
          type: string
        orchestration_id:
          type: string
          nullable: true
        task_id:
          type: string
          nullable: true
        event_type:
          type: string
        title:
          type: string
        body:
          type: string
          nullable: true
        payload:
          type: object
          additionalProperties: true
          nullable: true
        status:
          type: string
          enum: [unread, read, acked]
        read_at:
          type: string
          format: date-time
          nullable: true
        acked_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    InboxMeta:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        unread_count:
          type: integer

    InboxListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/InboxItem"
        meta:
          $ref: "#/components/schemas/InboxMeta"

    WorkloadSummary:
      type: object
      properties:
        total_units:
          type: integer
        completed_units:
          type: integer
        total_work:
          type: number

    WorkloadUnit:
      type: object
      properties:
        id:
          type: string
        project_id:
          type: string
        orchestration_id:
          type: string
          nullable: true
        task_id:
          type: string
          nullable: true
        source_event:
          type: string
        status:
          type: string
        review_decision:
          type: string
          nullable: true
        metrics:
          type: object
          additionalProperties: true
          nullable: true
        normalized_work_units:
          type: number
          nullable: true
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        reviewed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    WorkloadListResponse:
      type: object
      properties:
        summary:
          $ref: "#/components/schemas/WorkloadSummary"
        recent:
          type: array
          items:
            $ref: "#/components/schemas/WorkloadUnit"

    SecurityAdvisorySeverity:
      type: string
      enum: [low, medium, high, critical]

    SecurityAdvisoryStatus:
      type: string
      enum: [draft, published, resolved]

    ProjectSecurityAdvisorySummary:
      type: object
      required:
        - id
        - project_id
        - title
        - slug
        - severity
        - status
        - created_by
        - updated_by
        - created_at
        - updated_at
      properties:
        id:
          type: string
        project_id:
          type: string
        title:
          type: string
        slug:
          type: string
        severity:
          $ref: "#/components/schemas/SecurityAdvisorySeverity"
        status:
          $ref: "#/components/schemas/SecurityAdvisoryStatus"
        affected_package:
          type:
            - string
            - "null"
        cve_id:
          type:
            - string
            - "null"
        created_by:
          type: string
        updated_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        published_at:
          type:
            - string
            - "null"
          format: date-time

    ProjectSecurityAdvisory:
      type: object
      required:
        - id
        - project_id
        - title
        - slug
        - severity
        - status
        - body
        - references
        - created_by
        - updated_by
        - created_at
        - updated_at
      properties:
        id:
          type: string
        project_id:
          type: string
        title:
          type: string
        slug:
          type: string
        severity:
          $ref: "#/components/schemas/SecurityAdvisorySeverity"
        status:
          $ref: "#/components/schemas/SecurityAdvisoryStatus"
        affected_package:
          type:
            - string
            - "null"
        affected_version:
          type:
            - string
            - "null"
        fixed_version:
          type:
            - string
            - "null"
        cve_id:
          type:
            - string
            - "null"
        body:
          type: string
        references:
          type: array
          items:
            type: string
            format: uri
        created_by:
          type: string
        updated_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        published_at:
          type:
            - string
            - "null"
          format: date-time

    ProjectSecurityAdvisoryCreate:
      type: object
      required: [title]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        slug:
          type: string
          maxLength: 255
          description: Optional URL-friendly identifier; derived from title when omitted.
        severity:
          $ref: "#/components/schemas/SecurityAdvisorySeverity"
          default: medium
        status:
          $ref: "#/components/schemas/SecurityAdvisoryStatus"
          default: draft
        affected_package:
          type:
            - string
            - "null"
          maxLength: 255
        affected_version:
          type:
            - string
            - "null"
          maxLength: 255
        fixed_version:
          type:
            - string
            - "null"
          maxLength: 255
        cve_id:
          type:
            - string
            - "null"
          maxLength: 64
        body:
          type: string
          maxLength: 1000000
          default: ""
        references:
          type: array
          maxItems: 20
          items:
            type: string
            format: uri
            maxLength: 2048

    ProjectSecurityAdvisoryUpdate:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        slug:
          type: string
          maxLength: 255
        severity:
          $ref: "#/components/schemas/SecurityAdvisorySeverity"
        status:
          $ref: "#/components/schemas/SecurityAdvisoryStatus"
        affected_package:
          type:
            - string
            - "null"
          maxLength: 255
        affected_version:
          type:
            - string
            - "null"
          maxLength: 255
        fixed_version:
          type:
            - string
            - "null"
          maxLength: 255
        cve_id:
          type:
            - string
            - "null"
          maxLength: 64
        body:
          type: string
          maxLength: 1000000
        references:
          type: array
          maxItems: 20
          items:
            type: string
            format: uri
            maxLength: 2048

    ProjectSecurityAdvisoryListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ProjectSecurityAdvisorySummary"
        meta:
          type: object
          required: [total, skip, limit]
          properties:
            total:
              type: integer
              minimum: 0
            skip:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100

    ProjectSecurityManifestHygieneFinding:
      type: object
      required: [rule_id, severity, file_path, message]
      properties:
        rule_id:
          type: string
          enum:
            - manifest_not_found
            - manifest_json_invalid
            - manifest_missing_lockfile
            - manifest_unpinned_dependency
            - manifest_insecure_script_url
            - manifest_insecure_registry
        severity:
          type: string
          enum: [info, low, medium, high]
        file_path:
          type: string
        message:
          type: string
        evidence:
          type: string

    ProjectSecurityManifestHygieneScanResponse:
      type: object
      required:
        - scan_type
        - is_vulnerability_scan
        - generated_at
        - checked_files
        - finding_count
        - findings
      properties:
        scan_type:
          type: string
          enum: [manifest_hygiene]
        is_vulnerability_scan:
          type: boolean
          enum: [false]
        generated_at:
          type: string
          format: date-time
        checked_files:
          type: array
          items:
            type: string
        finding_count:
          type: integer
          minimum: 0
        findings:
          type: array
          items:
            $ref: "#/components/schemas/ProjectSecurityManifestHygieneFinding"

    ProjectSecurityDependencyAuditResponse:
      type: object
      required:
        - audit_type
        - is_external_vulnerability_scan
        - generated_at
        - checked_files
        - manifest_count
        - lockfile_count
        - dependency_count
        - known_advisory_matches
        - limitations
      properties:
        audit_type:
          type: string
          enum: [local_dependency_audit]
        is_external_vulnerability_scan:
          type: boolean
          enum: [false]
        generated_at:
          type: string
          format: date-time
        checked_files:
          type: array
          items:
            type: string
        package_managers:
          type: array
          items:
            type: string
        manifest_count:
          type: integer
          minimum: 0
        lockfile_count:
          type: integer
          minimum: 0
        dependency_count:
          type: integer
          minimum: 0
        dependency_counts_by_section:
[...]
